<div id="menu" class="<%= class_for_menu %>">
  <p>
    <% if not user_signed_in? %>
      <%= link_to "Sign Up", sign_up_path %>
      <span class="menu_items_separator">|</span>
      <%= link_to "Login", sign_in_path %>
    <% else %>
      <%= link_to "Dashboard", sign_up_path %>
      <span class="menu_items_separator">|</span>
      <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
    <% end -%>
  </p>
</div>