<!DOCTYPE html>

<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>

    <title>Wikilicious</title>

    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>
    <div id="main_content">
      <div id="menu">
        <p>
          <%= link_to "Sign Up", new_user_registration_path %>
          <span class="menu_items_separator">|</span>
          <%= link_to "Login", new_user_session_path %>
        </p>
      </div>

      <br clear="all">

      <div id="logo">
        <p>
          <%= image_tag "logo.png" %>
        </p>
      </div>

      <%= yield %>

      <br clear="all">
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>